*{
    box-sizing: border-box;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
:root{
    font-size: 20px;
}
body{
    margin: 2rem;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: min-content;
    margin-bottom: 5vh;
    margin-top: 2vh;
    gap: 10px;

}

img{
    max-width: 150px;
    max-height: 150px;
}


h1{
    font-size: 2rem;
}

.options-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 5vh;
}

select{
    font-size: 1.5rem;
}

.dropDown-container{
   font-size: 1.5rem;
}

button{
    height: 80px;
    width:200px;
    font-size: 1.5rem;
}

.question-container{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    margin: 0px 100px;
    height: 200px;
}

.btn-answer-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-answer-container{
    display: flex;
    justify-content: center;
    align-items: center;
}




@media screen and (max-width: 1080px) {
    *{
       margin:auto;
       padding: auto;
       
    }
    .answer-container{
        flex-direction: column;
    }
    h1{
        font-size: 1rem;
    }
    
    .header{
        flex-direction: column;
    }

    button{
        width: 200px;
        height: 80px;
    }

    .options-container{
        flex-direction: column;
    }
    .question-container{
        flex-direction: column;
    }
}